
<style>
    .chat-log{
        height: 350px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        background-color: #fff;
        font-size: 0.9em;
        flex-direction: column-reverse;
    }
    .chat-avatar{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        #border: solid #b6effb;
        object-fit: cover;
        display: inline-block;
        margin-top: auto;
        bottom: 0;
    }
    .chat-avatar:hover{
        cursor: pointer;
        #background-color: #4f5050;
    }
    .newMessageDiv-css{
        max-width: 100%;
    }
    .nameDiv-css{
        padding-left: 70px;
        height: 20px;
    }
    .nameP-css{

        color:#65676b;
    }
    .chatDiv-css{

    }
    .messageDiv-left-css{

        background-color: #e4e6eb;
        padding: 10px 15px 10px 15px;
        border-radius: 12px;
        display: block;
        margin-left: 5px;
        min-height: 50px;
        max-width: 70%;
    }
    .messageDiv-right-css{
        background-color: rgb(0, 132, 255);
        border-radius: 12px;
        margin: 1px 0px 1px 0px;
        padding: 10px 15px 10px 15px;
        min-height: 50px;
        max-width: 70%;
        display: block;
    }
    .msgDiv-left-css{
        color: #050505;
        unicode-bidi: isolate;
        display: block;
        font-size: medium;
        white-space: pre-wrap;
        -ms-word-break: break-all;
        word-break: break-word;
        word-wrap: break-word;
    }
    .msgDiv-right-css{
        color: white;
        unicode-bidi: isolate;
        font-size: medium;
        display: block;
        white-space: pre-wrap;
        -ms-word-break: break-all;
        word-break: break-word;
        word-wrap: break-word;
    }
    .timestampDiv-right-css{
        width: 200px;
        height: 50px;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, .7);
        text-align: center;
        font-size: medium;
        visibility: hidden;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        color: white;
    }
    .timestampP-right-css{
        width: 100%;
        height: 25px;
        margin: 12px 0px 0px 0px;
    }
    .timestampDiv-left-css{
        width: 200px;
        height: 50px;
        border-radius: 12px;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .7);
        text-align: center;
        font-size: medium;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }
    .timestampP-left-css{
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }
    #id_loading_spinner{
        position: absolute;
    }
    .connected-users{
        color: red;
    }
    .connected-users-icon{
        color: red;
    }
    .connected-users-icon:hover{
        cursor: default;
    }
</style>


{% if debug %}
    PUBLIC CHAT

{% endif %}
<span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>


<div class="card">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-between">
            <h5>Public chat</h5>
            <div class="d-flex flex-row align-items-center">
                <span class="material-icons m-auto pr-1 connected-users-icon">person_outline</span>
                <span class="m-auto connected-users" id="id_connected_users"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-center" id="id_loading_spinner_container">
                <div class="spinner-border text-primary" id="id_loading_spinner" role="status" style="display: none">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="d-flex chat-log" id="id-chat-log">

            </div>
            <div class="d-flex chat-message-input-container">
                <form action="upload/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name='file'>
                    <input type="submit" value="upload">
                </form>
                <textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
                <button class="btn btn-primary chat-message-submit-button">
                    <span class="material-icons-outlined">send</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // ws:// or wss://
    var ws_scheme= window.location.protocol == "https:" ? "wws" : "ws";
    {% if debug_mode %}
        var ws_path = ws_scheme+"://"+window.location.host+"/public_chat/{{ room_id }}/"// deveplopment
    {% else %}
        var ws_path = ws_scheme+"://"+window.location.host+":8001/public_chat/{{ room_id }}/"// production
    {% endif %}

    var public_chat_websocket = new WebSocket(ws_path)
    public_chat_websocket.onmessage = function (message) {
        console.log("----------------------------------------------------------")
        console.log("Got chat websocket message:" + message.data)
        console.log("------------------------------------------------------------")
        var data = JSON.parse(message.data)

        displayChatroomLoadSpinner(data.display_progress_bar)
        if(data.error_code){
            console.log(data.error_code)
        }
        if (data.join){
            getRoomChatMessages()
            console.log(data.username+" :join the room!")
        }
        if (data.messages_payload == "messages_payload"){
            console.log("PAYLOAD")
            handleMessagesPayload(data.messages,data.new_page_number)
        }
        if(data.msg_type==0)
        {
            if(data['user_id']=={{ auth_user_id }}){
                appendChatMessage(data,"myself",true,true)
            }
            else{
                appendChatMessage(data,"friend",true,true)
            }
        }
        else if(data.msg_type == 1){
            setConnectedUserCount(data['connected_user_count'])
        }
    }
    public_chat_websocket.addEventListener("open",function (e) {
        console.log("Public chat socket OPEN")
        //join the chat room
        if("{{ request.user.is_authenticated }}"){
            public_chat_websocket.send(JSON.stringify({
                "command":"join",
                "room": "{{ room_id }}"
            }))
        }
    })
    public_chat_websocket.onclose = function (e) {
        console.log("public chat socket CLOSED")
    }
    public_chat_websocket.onopen = function (e) {
        console.log("Public chat socket: onOpen")
    }
    public_chat_websocket.onerror = function (e) {
        console.log("Public chat socket Error: "+e.toString())
    }
    if(public_chat_websocket.readyState==WebSocket.OPEN){
        console.log("Public chat socket open")
    }
    else if (public_chat_websocket.readyState==WebSocket.CONNECTING){
        console.log("public chat socket is connecting...")
    }


    document.getElementById("id_chat_message_input").focus()
    document.getElementById("id_chat_message_input").onkeyup = function (e) {
        if(e.keyCode == 13 && e.shiftKey){
            //enter+return
            //handled automatically by textarea
        }
        else if(e.keyCode == 13 && !e.shiftKey){
            document.getElementById("id_chat_message_input").click()
        }
    document.getElementById("id_chat_message_input").onclick=function () {
        const messageInputDom = document.getElementById("id_chat_message_input")
        const message = messageInputDom.value
        public_chat_websocket.send(JSON.stringify({
            "command":"send",
            "message":message,
            "room_id":"{{ room_id }}"
        }))
        messageInputDom.value = ""
        }
    }

    function setPageNumber(pageNumber) {
        document.getElementById("id_page_number").innerHTML = pageNumber
    }

    function setPaginationExhausted() {
        setPageNumber("-1")
    }

    function getRoomChatMessages() {
        var pageNumber = document.getElementById("id_page_number").innerHTML
        if(pageNumber!="-1"){
            setPageNumber("-1") //query in progress
            public_chat_websocket.send(JSON.stringify({
                "command":"get_roomchat_messages",
                "room_id":{{ room_id }},
                "page_number": pageNumber
            }))
        }
    }

    function handleMessagesPayload(messages,new_page_number) {
        if(messages != null && messages != "undefined" && messages != "None"){
            setPageNumber(new_page_number)
            messages.forEach(function (message) {
                if(message['user_id'] == {{ auth_user_id }}){
                    appendChatMessage(message,"myself",true,false)
                }
                else{
                    appendChatMessage(message,"friend",true,false)
                }
            })
        }
        else{
            setPaginationExhausted()
        }
    }

    var chatLog_ = document.getElementById("id-chat-log")
    chatLog_.addEventListener("scroll",function (e) {
        if((Math.abs(chatLog_.scrollTop)+2) >= (chatLog_.scrollHeight - chatLog_.offsetHeight)) {
            getRoomChatMessages()
        }
    })

    function appendChatMessage(data,position,maintainPosition,isNewMessage) {
        message = data['message']
        uName = data['username']
        user_id = data['user_id']
        profile_img = data['profile_img']
        timestamp = data['timestamp']
        file = data['file']
        var msg = message +"\n"
        var username = uName
        createChatMessageElement(msg,username,profile_img,user_id,position,timestamp,
            maintainPosition,isNewMessage, file)
    }

    function createChatMessageElement(msg,username,profile_img,user_id,position,timestamp,
    maintainPosition,isNewMessage, file) {
        if(position == "friend"){
            var chatlog = document.getElementById("id-chat-log")

            var newMessageDiv = document.createElement("div")
            newMessageDiv.classList.add("d-flex")
            newMessageDiv.classList.add("flex-column")
            newMessageDiv.classList.add("newMessageDiv-css")

            var nameDiv = document.createElement("div")
            nameDiv.classList.add("nameDiv-css")
            nameDiv.classList.add("d-flex")
            nameDiv.classList.add("flew-row")
            var nameP = document.createElement("p")
            newMessageDiv.classList.add("nameP-css")
            nameP.innerHTML = username
            nameDiv.appendChild(nameP)


            newMessageDiv.appendChild(nameDiv)

            var chatDiv = document.createElement("div")
            chatDiv.classList.add("d-flex")
            chatDiv.classList.add("flex-row")
            chatDiv.classList.add("chatDiv-css")

            var profileImg = document.createElement("img")
            profileImg.classList.add("chat-avatar")
            profileImg.classList.add("border")
            profileImg.src = profile_img
            profileImg.addEventListener("click",function (e) {
                showUserProfile(user_id)
            })

            chatDiv.appendChild(profileImg)

            var messageDiv = document.createElement("div")
            messageDiv.classList.add("messageDiv-left-css")
            messageDiv.addEventListener("mouseover",function () {
                {#displayTimestamp(timestamp)#}
                timestampDiv.style.visibility = "visible"
            })
            messageDiv.addEventListener("mouseout",function () {
                {#hideTimestamp()#}
                timestampDiv.style.visibility = "hidden"
            })

            var msgDiv = document.createElement("div")
            msgDiv.classList.add("msgDiv-left-css")
            if (file) {
                msgDiv.innerHTML = '<a href="' + file + '">' + message + '</a>'
            } else {
                msgDiv.innerHTML = message
            }
            messageDiv.appendChild(msgDiv)

            chatDiv.appendChild(messageDiv)

            var timestampDiv = document.createElement("div")
            timestampDiv.classList.add("timestampDiv-left-css")

            var timestampP = document.createElement("p")
            timestampP.classList.add("timestampP-left-css")
            timestampP.innerHTML = timestamp
            timestampDiv.appendChild(timestampP)

            chatDiv.appendChild(timestampDiv)


            newMessageDiv.appendChild(chatDiv)

            if(isNewMessage){
                chatlog.insertBefore(newMessageDiv,chatlog.firstChild)
            }
            else{
                chatlog.appendChild(newMessageDiv)
            }
            if(!maintainPosition){
                chatlog.scrollTop = chatlog.scrollHeight
            }
        }
        else if(position == "myself"){
            var chatlog = document.getElementById("id-chat-log")

            var newMessageDiv = document.createElement("div")
            newMessageDiv.classList.add("newMessageDiv-css")
            newMessageDiv.style.marginLeft="auto"
            newMessageDiv.classList.add("d-flex")
            newMessageDiv.classList.add("flex-row-reverse")


            var messageDiv = document.createElement("div")
            messageDiv.classList.add("messageDiv-right-css")
            messageDiv.addEventListener("mouseover",function () {
                //displayTimestamp(timestamp)
                timestampDiv.style.visibility = "visible"
            })
            messageDiv.addEventListener("mouseout",function () {
                //hideTimestamp()
                timestampDiv.style.visibility = "hidden"
            })


            var msgDiv =document.createElement("div")
            msgDiv.classList.add("msgDiv-right-css")
            if (file) {
                msgDiv.innerHTML = '<a href="' + file + '" style="color:black;">' + message + '</a>'
            } else {
                msgDiv.innerHTML = message
            }
            messageDiv.appendChild(msgDiv)

            newMessageDiv.appendChild(messageDiv)

            var timestampDiv = document.createElement("div")
            timestampDiv.classList.add("timestampDiv-right-css")

            var timestampP = document.createElement("p")
            timestampP.classList.add("timestampP-right-css")

            timestampP.innerHTML = timestamp

            timestampDiv.appendChild(timestampP)


            newMessageDiv.appendChild(timestampDiv)

            if(isNewMessage){
                chatlog.insertBefore(newMessageDiv,chatlog.firstChild)
            }
            else{
                chatlog.appendChild(newMessageDiv)
            }
            if(!maintainPosition){
                chatlog.scrollTop = chatlog.scrollHeight
            }
        }

    }

    function showUserProfile(user_id) {
        var url = "{% url 'view' user_id=123 %}".replace("123",user_id)
        var win = window.open(url,"_blank")
        win.focus()
    }

    function setConnectedUserCount(count) {
        element = document.getElementById("id_connected_users")
        element.innerHTML = count
    }
</script>

