{% load static %}
<style>
    .chat-log{
        height: 450px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        font-size: 0.9em;
        flex-direction: column-reverse;
    }
    .nameDiv-css{
        padding-left: 70px;
        height: 20px;
    }
    .nameP-css{
        color:white;
    }
    .main{
        background-color: #ad91ff
    }
</style>


{% if debug %}
    PUBLIC CHAT
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<div>
    <div class="container-fluid h-100 mt-2">
        <div class="row justify-content-center h-100">
            <div class="col-md-9 col-xl-9 chat" style="margin-top:50px">
                <div class="card" id="id_chatroom_card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight" style="height:50px;">
                            <div class="img_cont">
                                <img src="{% static "images/hacker.jpg" %}" class="rounded-circle user_img"
                                     id="id_other_user_profile_image"
                                     alt="none">
                            </div>
                            <div style="margin-bottom: auto;margin-left: 15px;margin-top: 5px">
                                <span id="id_other_username" style="font-size:30px;font-weight:500;
                                color:white"></span>
                                <p style="font-size:18px; color:white">General</p>
                            </div>
                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <i class="fas fa-2x fa-users connected-users-icon"></i>
                        <span class="connected-users-count" id="id_connected_users"></span>


                    </div>

                    <div class="d-flex flex-column card-body msg_card_body" id="id_chat_log_container"
                    style="padding:0px">

                        <div class="d-flex flex-row justify-content-center" id="id_loading_spinner_container">
                            <div class="spinner-border text-primary" id="id_loading_spinner" role="status" style="display: none">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div class="d-flex chat-log" id="id-chat-log"
                        onmouseover="onmouseover_chatlog()"
                        onmouseout="onmouseout_chatlog()" style="padding:0px 20px 0px 20px" >

                        </div>

                        <span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>

                        <div class="card-footer">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text attach_btn" method="post">
                                        {% csrf_token %}
                                        <label for="id_chat_file_input">
                                            <i class="fas fa-paperclip"></i>
                                          </label>
                                        <input type="file" name='file' id="id_chat_file_input" onchange="autoUpload()" style="visibility:hidden;width:0;height:0">
                                    </div>
                                </div>
                                <textarea name="" class="form-control type_msg" placeholder="Type your message..."
                                    id="id_chat_message_input"></textarea>
                                <div class="input-group-append">
                                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="d-flex chat-log" id="id-chat-log">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function autoUpload() {
        const csrftoken = getCookie('csrftoken');
        var data = new FormData()
        input = document.getElementById("id_chat_file_input")
        data.append('file', input.files[0])
        input.value = null
        const request = new Request(
        'upload/',
        {headers: {'X-CSRFToken': csrftoken}}
        );
        fetch(request, {
            method: 'POST',
            body: data
        }).then(response => response.json())
        .then(data => { 
            console.log(data)
            public_chat_websocket.send(JSON.stringify({
            "command":"send",
            "message": data.content,
            "room_id":"{{ room_id }}",
            "file":data.file
        }))
        })
    }

    function onmouseover_chatlog(){
        document.getElementById("id-chat-log").style.overflowY="scroll";
    }
    function onmouseout_chatlog(){
        document.getElementById("id-chat-log").style.overflowY="hidden";
    }

    // ws:// or wss://
    var ws_scheme= window.location.protocol == "https:" ? "wws" : "ws";
    {% if debug_mode %}
        var ws_path = ws_scheme+"://"+window.location.host+"/public_chat/{{ room_id }}/"// deveplopment
    {% else %}
        var ws_path = ws_scheme+"://"+window.location.host+":8001/public_chat/{{ room_id }}/"// production
    {% endif %}

    var public_chat_websocket = new WebSocket(ws_path)
    public_chat_websocket.onmessage = function (message) {
        console.log("----------------------------------------------------------")
        console.log("Got chat websocket message:" + message.data)
        console.log("------------------------------------------------------------")
        var data = JSON.parse(message.data)
        console.log(data)
        displayChatroomLoadSpinner(data.display_progress_bar)
        if(data.error_code){
            console.log(data.error_code)
        }
        if (data.join){
            getRoomChatMessages()
            console.log(data.username+" :join the room!")
        }
        if (data.messages_payload == "messages_payload"){
            console.log("PAYLOAD")
            handleMessagesPayload(data.messages,data.new_page_number)
        }
        if(data.msg_type==0)
        {
            if(data['user_id']=={{ auth_user_id }}){
                appendChatMessage(data,"myself",true,true)
            }
            else{
                appendChatMessage(data,"friend",true,true)
            }
        }
        else if(data.msg_type == 1){
            setConnectedUserCount(data['connected_user_count'])
        }
    }
    public_chat_websocket.addEventListener("open",function (e) {
        console.log("Public chat socket OPEN")
        //join the chat room
        if("{{ request.user.is_authenticated }}"){
            public_chat_websocket.send(JSON.stringify({
                "command":"join",
                "room": "{{ room_id }}"
            }))
        }
    })
    public_chat_websocket.onclose = function (e) {
        console.log("public chat socket CLOSED")
    }
    public_chat_websocket.onopen = function (e) {
        console.log("Public chat socket: onOpen")
    }
    public_chat_websocket.onerror = function (e) {
        console.log("Public chat socket Error: "+e.toString())
    }
    if(public_chat_websocket.readyState==WebSocket.OPEN){
        console.log("Public chat socket open")
    }
    else if (public_chat_websocket.readyState==WebSocket.CONNECTING){
        console.log("public chat socket is connecting...")
    }


    document.getElementById("id_chat_message_input").focus()
    document.getElementById("id_chat_message_input").onkeyup = function (e) {
        if(e.keyCode == 13 && e.shiftKey){
            //enter+return
            //handled automatically by textarea
        }
        else if(e.keyCode == 13 && !e.shiftKey){
            document.getElementById("id_chat_message_input").click()
        }
    document.getElementById("id_chat_message_input").onclick=function () {
        const messageInputDom = document.getElementById("id_chat_message_input")
        const message = messageInputDom.value
        public_chat_websocket.send(JSON.stringify({
            "command":"send",
            "message":message,
            "room_id":"{{ room_id }}"
        }))
        messageInputDom.value = ""
        }
    }

    function setPageNumber(pageNumber) {
        document.getElementById("id_page_number").innerHTML = pageNumber
    }

    function setPaginationExhausted() {
        setPageNumber("-1")
    }

    function getRoomChatMessages() {
        var pageNumber = document.getElementById("id_page_number").innerHTML
        if(pageNumber!="-1"){
            setPageNumber("-1") //query in progress
            public_chat_websocket.send(JSON.stringify({
                "command":"get_roomchat_messages",
                "room_id":{{ room_id }},
                "page_number": pageNumber
            }))
        }
    }

    function handleMessagesPayload(messages,new_page_number) {
        if(messages != null && messages != "undefined" && messages != "None"){
            setPageNumber(new_page_number)
            messages.forEach(function (message) {
                if(message['user_id'] == {{ auth_user_id }}){
                    appendChatMessage(message,"myself",true,false)
                }
                else{
                    appendChatMessage(message,"friend",true,false)
                }
            })
        }
        else{
            setPaginationExhausted()
        }
    }

    var chatLog_ = document.getElementById("id-chat-log")
    chatLog_.addEventListener("scroll",function (e) {
        if((Math.abs(chatLog_.scrollTop)+2) >= (chatLog_.scrollHeight - chatLog_.offsetHeight)) {
            getRoomChatMessages()
        }
    })

    function appendChatMessage(data,position,maintainPosition,isNewMessage) {
        message = data['message']
        uName = data['username']
        user_id = data['user_id']
        profile_img = data['profile_img']
        timestamp = data['timestamp']
        file = data['file']
        var msg = message +"\n"
        var username = uName
        createChatMessageElement(msg,username,profile_img,user_id,position,timestamp,
            maintainPosition,isNewMessage, file)
    }

    function createChatMessageElement(msg,username,profile_img,user_id,position,timestamp,
    maintainPosition,isNewMessage, file) {
        if(position == "friend"){
            var chatlog = document.getElementById("id-chat-log")

            var newMessageDiv = document.createElement("div")
            newMessageDiv.classList.add("d-flex")
            newMessageDiv.classList.add("flex-column")
            newMessageDiv.classList.add("newMessageDiv-css")

            newMessageDiv.classList.add("friend")

            var nameDiv = document.createElement("div")
            nameDiv.classList.add("nameDiv-css")
            nameDiv.classList.add("d-flex")
            nameDiv.classList.add("flew-row")
            var nameP = document.createElement("p")
            newMessageDiv.classList.add("nameP-css")
            nameP.innerHTML = username
            nameDiv.appendChild(nameP)


            newMessageDiv.appendChild(nameDiv)

            var chatDiv = document.createElement("div")
            chatDiv.classList.add("d-flex")
            chatDiv.classList.add("flex-row")
            chatDiv.classList.add("chatDiv-css")

            var profileImg = document.createElement("img")
            profileImg.classList.add("chat-avatar")
            profileImg.classList.add("border")
            profileImg.src = profile_img
            profileImg.addEventListener("click",function (e) {
                showUserProfile(user_id)
            })

            chatDiv.appendChild(profileImg)

            var messageDiv = document.createElement("div")
            messageDiv.classList.add("messageDiv-left-css")
            messageDiv.addEventListener("mouseover",function () {
                {#displayTimestamp(timestamp)#}
                timestampDiv.style.visibility = "visible"
            })
            messageDiv.addEventListener("mouseout",function () {
                {#hideTimestamp()#}
                timestampDiv.style.visibility = "hidden"
            })

            var msgDiv = document.createElement("div")
            msgDiv.classList.add("msgDiv-left-css")
            if (file) {
                msgDiv.innerHTML = '<a href="' + file + '" target="_blank" style="color:black;">' + "<u>" + message + "</u>" + '</a>'
            } else {
                msgDiv.innerHTML = message
            }
            messageDiv.appendChild(msgDiv)

            chatDiv.appendChild(messageDiv)

            var timestampDiv = document.createElement("div")
            timestampDiv.classList.add("timestampDiv-left-css")

            var timestampP = document.createElement("p")
            timestampP.classList.add("timestampP-left-css")
            timestampP.innerHTML = timestamp
            timestampDiv.appendChild(timestampP)

            chatDiv.appendChild(timestampDiv)


            newMessageDiv.appendChild(chatDiv)

            if(isNewMessage){
                chatlog.insertBefore(newMessageDiv,chatlog.firstChild)
            }
            else{
                chatlog.appendChild(newMessageDiv)
            }
            if(!maintainPosition){
                chatlog.scrollTop = chatlog.scrollHeight
            }
        }
        else if(position == "myself"){
            var chatlog = document.getElementById("id-chat-log")

            var newMessageDiv = document.createElement("div")
            newMessageDiv.classList.add("newMessageDiv-css")
            newMessageDiv.style.marginLeft = "auto"
            newMessageDiv.classList.add("d-flex")
            newMessageDiv.classList.add("flex-row-reverse")
            newMessageDiv.classList.add("myself")

            var messageDiv = document.createElement("div")
            messageDiv.classList.add("messageDiv-right-css")
            messageDiv.addEventListener("mouseover",function () {
                //displayTimestamp(timestamp)
                timestampDiv.style.visibility = "visible"
            })
            messageDiv.addEventListener("mouseout",function () {
                //hideTimestamp()
                timestampDiv.style.visibility = "hidden"
            })


            var msgDiv =document.createElement("div")
            msgDiv.classList.add("msgDiv-right-css")
            if (file) {
                msgDiv.innerHTML = '<a href="' + file + '" target="_blank" style="color:black;">' + "<u>" + message + "</u>" + '</a>'
            } else {
                msgDiv.innerHTML = message
            }
            messageDiv.appendChild(msgDiv)

            newMessageDiv.appendChild(messageDiv)

            var timestampDiv = document.createElement("div")
            timestampDiv.classList.add("timestampDiv-right-css")

            var timestampP = document.createElement("p")
            timestampP.classList.add("timestampP-right-css")

            timestampP.innerHTML = timestamp

            timestampDiv.appendChild(timestampP)


            newMessageDiv.appendChild(timestampDiv)

            if(isNewMessage){
                chatlog.insertBefore(newMessageDiv,chatlog.firstChild)
            }
            else{
                chatlog.appendChild(newMessageDiv)
            }
            if(!maintainPosition){
                chatlog.scrollTop = chatlog.scrollHeight
            }
        }

    }

    function showUserProfile(user_id) {
        var url = "{% url 'view' user_id=123 %}".replace("123",user_id)
        var win = window.open(url,"_blank")
        win.focus()
    }

    function setConnectedUserCount(count) {
        element = document.getElementById("id_connected_users")
        element.innerHTML = count
    }
</script>

