{% load static %}

<div class="card">
    <div class="d-flex flex-row align-items-center card-header">
        <h3 >Room</h3>
    </div>
    <div class="card-body p-1">
        <div class="d-flex flex-column friends-list-container ">
            {% for x in m_and_f %}
            <div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="onSelectFriend('{{x.friend.id}}')" id="id_room_container_{{x.friend.id}}">
                <img class="profile-image rounded-circle img-fluid" id="id_friend_img_{{x.friend.id}}" src="#" alt="none">
                <div class="d-flex flex-column">
                    <span class="username-span">{{x.friend.username}}</span>
                    <span class="friend-message-span">{{x.message|truncatechars:20}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>