<style>
    head{
        font-family: "Segoe UI";
        font-width: 380;
    }
    footer{
        font-family: "Segoe UI";
        font-width: 380;
    }
    body{
        font-family: "Segoe UI";
        font-weight: 380;
    }
    :root{
        --main-background-color:#f2f2f2;
        --dark-background-color:#a2a2a2;
        --secondary-text-color:#808080;
        --light-primary-text-color:#0080ff;
    }

    .features-custom {
    text-align: center !important;
    background: #AD91FF !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features-custom .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features-custom .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features-custom .card-body {
    text-align: left !important;
}

.features-custom .card-title {
    margin: 0 0 -3px !important;
}
    
</style>