{% extends 'base.html' %}

{% block main %}
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="none"/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from chatting with your friends!</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <h3 class="text-center" style="margin-top:7px">Change password</h3>
                <div class="col-md-8 form-group"style="display: block;margin-right: auto;margin-left: auto;">
                    <form action="" method="post" id="id_password_change_form">
                        {% csrf_token %}
                        <input type="password" name="old_password" class="form-control m-3" placeholder="Old password"
                        id="id_old_password" required="true">
                        <input type="password" name="new_password1" class="form-control m-3" placeholder="New password"
                        id="id_new_password1" required="true">
                        <input type="password" name="new_password2" class="form-control m-3" placeholder="Confirm new password"
                        id="id_new_password2" required="true">
                        <div class="ml-3 text-center">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                
                            {% endfor %}
                            
                        </div>
                        <input  class="btn btn-outline-primary" type="submit" value="Save" style="display: block;margin-right: auto;margin-left: auto;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

