{% extends 'base_new.html' %}
{% load static %}

{% block main %}
<style>
    .form-control   {
        background-color: #1d1e28;
        color: white
    }
    .field-heading{
    }
</style>
<div class="container register">
    <div class="row">
        <div class="">
            <div class="tab-content" id="myTabContent">
                <h3 class="text-center" style="margin-top:7px">Edit profile</h3>
                <div class="d-flex flex-column justify-content-center p-4" style="border:1px solid; border-radius:20px; background-color: #1d1e28">
                    <div class="mb-2" id="id_image_crop_confirm" style="margin:0 auto">
                        <span id="id_cancel" class="material-icons">cancel</span>
                        <span id="id_confirm" class="material-icons">check</span>
                    </div>
                    <div class="image-container" id="id_image_container" style="margin:0 auto;">
                        <img class="border border-dark company-header-avatar" id="id_profile_image_display"
                             src="{{form.initial.profile_img.url}}" alt="none" style="background-color: white;">
                        <div class="middle" id="id_middle_container">
                            <div class="text" id="id_text" >Click to change your avatar</div>
                        </div>
                    </div>
                    <form class="form-signin col-md-7" method="post" enctype="multipart/form-data" style="margin:0 auto">
                        {% csrf_token %}
                        <input class="d-none" type="file" name="profile_img" id="id_profile_image" onchange="readURL(this)">
                        <h6 class="mt-4 field-heading">Email (can't change email)</h6>
                        <input type="email" readonly name="email" id="id_input_email" class="form-control" placeholder="Email address" required  value={{form.initial.email}} style="background:transparent">
                        <h6 class="mt-4 field-heading">Display name</h6>
                        <input type="text"  name="username" id="id_input_username" class="form-control" placeholder="Username" required 
                        value="{{form.initial.username}}">
                        {% for field in form %}
                            <p>
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div style="color: red">
                                <p>{{form.non_field_errors}}</p>
                            </div>

                        {% endif %}

                        <div class="d-flex flex-column mt-4 col-md-5" style="margin: 0 auto;">
                            <button class="btn btn-outline-primary" type="submit" style="color:white">Save</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="{% static 'bootstrap/js/edit_account/edit_account.js' %}"></script>
{% endblock %}





