{% extends 'base_new.html' %}
{% load static %}
{% block main %}
<!------ Include the above in your HEAD tag ---------->


<div class="heading">
    <h1 class="display-5 title">It's time to connect people all around the world.</h1>
    <p class="subtitle">Raspberry is a multi-purpose app ready to skill up and boost up your communication<br />Also
        features auto-moderation, administration, music and much more!</p>
    <a class="btn btn-secondary btn-lg" href="{% url 'public-chat' %}" role="button">Global messenger</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'chat:private-chat' %}" role="button">Private chat</a>

</div>
<div id="features" class="features-custom" style="background-color: #1d1e28">
    <div class="title">Features of Raspberry</div>
    <div class="subtitle">We provide you the best features in Raspberry!</div>
    <div class="cards" style="text-align:center">
        <div class="">
            <div class="card" style="width: 18rem;display: inline-block; vertical-align: middle;">
                <div class="card-body">
                    <h5 class="card-title">Public chat</h5>
                    <p class="card-text">The public chat consists of different kinds of people, get the relax time after a long day</p>
                </div>
            </div>
                <div class="card" style="width: 18rem;display: inline-block; vertical-align: middle;">
                    <div class="card-body">
                        <h5 class="card-title">Private chat</h5>
                        <p class="card-text">Take part in the communication with your friend, including documents, messages
                        , files,... attached</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;display: inline-block; vertical-align: middle;">
                    <div class="card-body">
                        <h5 class="card-title">Friend system</h5>
                        <p class="card-text">Connect with friends all over the world</p>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="start">
    <div class="card" >
        <div class="card-body gs-card" style="background-color: #1d1e28; border-radius:20px; width:70%; margin:auto">
            <div class="title" style="text-align:center">Ready to try Raspberry</div>
            <div class="subtitle" style="text-align:center">Get the Raspberry and start your chat cool perks!</div>
            <br />
            <div class="" style="text-align: center;">
                <button class="btn btn-primary btn-lg"  role="button" onclick="jump_to_top()">Get started</button>
            </div>
        </div><br />
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/now-ui-kit.min.js' %}"></script>
<script>
    function jump_to_feature(){
        document.getElementById('features').scrollIntoView()
    }
    function jump_to_top(){
        window.scrollTo(0,0);
    }
</script>
{% endblock %}

